{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}


<div class= "container-fluid container-img-home">
    
    <style type="text/css">
        .container-img-home{
            padding: 0 !important;
            margin: 0 !important;
        }

        .container-img-home img{
            width: 100%;
            margin-bottom: 30px;
        }

        body{
            background-image: url()
        }
    </style>

    <img src="https://source.unsplash.com/random/1200x300" alt="">
    
</div>

<div class= "container">
    <style>
        p{
            text-align: justify;
        }

        hr{
            margin-top: 40px;
            margin-bottom: 40px;
        }

        h1{
            text-align: center;
            font-size: 80px;
            margin-bottom: 20px;
        }
    </style>

    <h1>Accueil</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium explicabo eum libero velit culpa nobis, quaerat, rerum beatae distinctio veniam voluptatem nulla nesciunt similique tenetur voluptatibus error tempore architecto sed.
        Quia fugiat itaque cumque quasi vero repudiandae eius dolor molestias? Quaerat sapiente veniam repellendus dolores atque quos voluptates suscipit ad iste nulla, dolore iusto nemo similique consequatur velit fugit voluptatum.
        Quod, non? Tempore corporis ipsam nam quam? Voluptates numquam, tempore nihil ut placeat accusantium ipsam quis, libero at eveniet id nostrum totam commodi vel nisi ipsum magnam iure fugiat fuga?
        Sequi consectetur dolorum corrupti laborum ad, commodi rem, unde quam, earum maxime laudantium molestias optio esse vitae aliquam labore omnis quasi? Fugit asperiores soluta harum ullam tempora placeat iure dignissimos?
        Ullam suscipit facilis, deserunt error velit blanditiis animi veniam aliquid quis, sed tempora perferendis maxime doloremque harum quae optio recusandae facere beatae rem commodi earum? Voluptates dicta quos inventore totam!
        Saepe repudiandae quasi eligendi ex molestias voluptatem neque incidunt debitis distinctio soluta aliquam, accusamus sint quam! Blanditiis totam temporibus sapiente autem illo, molestiae earum quod, eos quam qui quis illum.
        Harum hic ut reprehenderit explicabo eveniet culpa sequi rem nam cum animi, esse eum, laboriosam ipsa assumenda voluptate consequuntur in inventore blanditiis necessitatibus ratione, aperiam quibusdam minus id placeat. Quae.
        Adipisci et, ad laboriosam a assumenda asperiores voluptas dolore beatae eum delectus ut veritatis soluta! Fugiat alias delectus, laborum harum, accusamus, explicabo dolor minima obcaecati quam eveniet quis atque repudiandae!
        Cupiditate consequatur corporis veniam tenetur sunt magnam, architecto in quos amet sit quibusdam animi dolores. Ut officia quia debitis. Quos sapiente maiores modi facilis tenetur magni saepe molestiae, nihil atque.
        Odio ducimus blanditiis quia ad, hic veritatis quis beatae neque voluptatem vitae. Perferendis obcaecati nihil magnam eos voluptatum ducimus exercitationem, consequuntur iste sed quos odit repudiandae nemo mollitia id commodi.
    </p>

    <hr>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellendus tempore assumenda tempora vitae. Quibusdam earum, sequi vel eum nesciunt error fuga. Obcaecati possimus enim sunt facere eaque officiis earum!
        Iste perferendis inventore porro et animi nemo illum repellendus sed, esse doloremque laboriosam dolor, labore eos pariatur vel quasi nostrum fuga magni libero. Maiores deserunt nesciunt nisi sunt officiis corporis!
        Fuga expedita sapiente quod hic iusto numquam vitae, unde incidunt debitis fugiat, enim quasi cum repellendus, quidem dolorem delectus quos obcaecati recusandae. Veniam aperiam recusandae est reprehenderit nemo porro hic.
        Obcaecati quasi praesentium consectetur dolore natus adipisci. Labore aspernatur ipsam fugiat expedita, omnis voluptate culpa velit iste error molestias dolorum suscipit deleniti non magnam saepe laborum quos iusto illo tempore!
        Eum eligendi rem quae tempora beatae, dolore error vel, debitis voluptas, architecto necessitatibus cum ut corrupti. Quaerat quibusdam delectus rem at similique ipsum ut ducimus ab perferendis porro, autem aut.
        Tempore molestiae necessitatibus eligendi ad? Amet dicta molestiae odit consequuntur obcaecati vitae natus aperiam deserunt consectetur magnam molestias ducimus similique adipisci accusantium vero quae ullam, harum eligendi nam nihil voluptatem?
        Repellendus non ipsum iure perspiciatis similique fugiat optio minus, doloremque, illo nam ipsam aspernatur, velit esse culpa at fugit neque laborum odit officia rem saepe obcaecati expedita aliquid consequuntur. Aspernatur.
        Delectus ut vero similique doloribus? Quaerat aliquid laudantium adipisci deleniti consequatur fugiat sit totam illum. Iure quisquam laboriosam, natus corrupti officia ad dignissimos dolorem unde ex, deleniti accusantium animi porro.
        Consectetur sed quas autem nemo sunt fuga culpa alias porro! Temporibus dolores et tenetur nostrum fuga atque, perferendis modi praesentium expedita accusamus quo suscipit autem voluptate doloremque unde inventore numquam.
        Ab porro quos at tenetur aperiam perferendis tempore possimus atque delectus? Neque aspernatur cupiditate ut pariatur earum repudiandae fuga recusandae tempore eum, atque, vero facere, unde accusamus sed ipsum veritatis.
    </p>

    <hr>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex officia aliquid dicta sed obcaecati eos quidem ipsam sunt quam quibusdam! Earum eum recusandae accusamus. Vero quasi ducimus facere quia! Perspiciatis?
        Minima facilis cupiditate, facere sapiente non placeat dignissimos provident aspernatur ut quam illo iste in. Officia, sed architecto facere aspernatur tempore fuga, error pariatur ratione quisquam alias aliquid sit voluptatum?
        Id quibusdam possimus sunt eum, voluptatem quasi explicabo dolorem eveniet, ipsam ex quam illum dolores saepe eaque aliquam, blanditiis officia ab beatae asperiores. Labore quisquam deserunt quo enim ea ducimus?
        Voluptatibus rem vitae expedita cupiditate necessitatibus blanditiis autem, minima molestiae, odio quae explicabo saepe hic reprehenderit veniam voluptatum debitis, obcaecati quasi. Molestias nesciunt sequi quibusdam quae quaerat est quidem ex.
        Facilis, nihil deserunt iste blanditiis eligendi adipisci atque, incidunt iusto eum quaerat odit ullam non quis sequi nesciunt optio enim? Dolore ad, earum dolores laudantium dolorem dolorum consectetur magni doloremque?
        Non odit itaque quaerat fugit. Iusto distinctio praesentium eligendi eveniet. Quaerat distinctio aspernatur saepe fugit vitae consectetur nulla aliquid dignissimos molestiae, deleniti perferendis est quis laboriosam consequatur non impedit eos?
        Mollitia fugiat perspiciatis qui tempora velit. Deleniti non sapiente suscipit impedit consequuntur quaerat quas error deserunt temporibus pariatur! Id placeat debitis inventore aliquam qui ex quaerat numquam ea alias ab.
        Illo voluptatem quia sapiente distinctio eveniet amet libero, dolores temporibus at vitae eum, vero assumenda quis sunt, consequuntur provident! Exercitationem velit rerum quas neque vel obcaecati magnam architecto animi porro!
        Id voluptatibus vel assumenda. Ab, placeat iusto. Quis magnam dolores expedita temporibus, debitis dolorem veniam. Quasi, perferendis nobis delectus natus odit, exercitationem ipsam sequi nemo, sapiente facere unde dolor quia.
        Possimus temporibus ullam ad, delectus iste, repudiandae voluptates perspiciatis voluptatem excepturi necessitatibus aliquid atque officia vitae aut blanditiis nobis assumenda voluptas hic cum. Soluta autem unde numquam consequatur eius voluptatibus!
    </p>
</div>

{% endblock %}
