{% extends 'base.html.twig' %}

{% block title %}Hello LuckyController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ lucky_number }}! ✅</h1>
    <h2>{{nom}}</h2>

{% endblock %}
