{% extends 'base.html.twig' %}

{% block title %}création d'une offres{% endblock %}

{% block body %}
<style>
.alert-dismissible.alert-success, .alert-dismissible.alert-success .alert-link, .alert-dismissible.alert-success .close:before {
    text-align: center;
    font-size: 30px;
}
</style>

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Well done ! Your offer has been created</strong><a href="#" class="alert-link"></a>.
</div>

{% endblock %}

