{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}création d'une offres{% endblock %}

{% block body %}
<div class="container">
{% if editMode %}
  <h1> Edition d'une offre </h1>
{% else %}
  <h1> Création d'une offre </h1>
{% endif %}



{{ form_start(form) }}

    {{ form_row(form.title, { 'attr': {'placeholder': 'entrez un titre....'}}) }}

    {{ form_row(form.description, { 'attr': {'placeholder': 'entrez une description....', 'rows': '8'}}) }}

    <button type="submit" class="btn btn-success btn-lg">
      {% if editMode %}
        Enregistrer les changements
      {% else %}
        créer
      {% endif %}
    </button>

{{ form_end(form) }}

</div>
{% endblock %}

