{% extends 'base.html.twig' %}

{% block title %}liste des offres{% endblock %}

{% block body %}

<h1>Nos Offres d'emploi</h1>
<style>
    h1{
        text-align: center;
        font-size: 60px;
        margin-bottom: 40px;
    }
</style>
{% if offres %}

    {% for offre in offres %}
        <style>
            h1{
                margin-top: 20px;
            }

            .container-pagination{
                padding:0;
                margin-bottom: 10px;
            }

            article{
                margin-bottom: 60px;
            }

            .content p{
                text-align: justify;
            }

            .progress{
                margin-bottom: 30px;
            }
        </style>

        <div class="container container-pagination">
            <article><h2>{{ offre.title}}</h2>
                <div class="articles">
                    <div class="metadata">Ajoutée le 03/09/2019 dans la categorie
                        offres d'emploi
                    </div>

                    <div class="content">
                        <img src="https://source.unsplash.com/random/1140x200" alt="image offre">
                        
                        <p>{{ offre.description }}</p>

                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consequuntur ipsam eum, tenetur, culpa delectus odit assumenda possimus odio natus distinctio repellat iste architecto. Quae maiores rerum eligendi! Exercitationem, necessitatibus?
                            Laborum accusantium modi iste? Ex saepe sit doloremque qui autem repellendus, dicta similique unde? Culpa, numquam necessitatibus. Ad consequuntur quos quia harum dolorem in, sunt explicabo ut nemo sint. Distinctio?
                            Optio quas temporibus aliquam voluptates quae iste esse assumenda id quaerat blanditiis laudantium veritatis, similique voluptas ullam nulla accusamus quos. Mollitia asperiores, fugit alias eos rem velit! Exercitationem, eveniet cum!
                            Laboriosam maxime modi blanditiis neque repellat, maiores quas omnis voluptatibus repudiandae incidunt obcaecati accusantium libero nobis velit earum hic doloribus voluptatum molestiae, facere quibusdam, impedit et iste quaerat reiciendis. Temporibus!
                            Cumque fugiat voluptates reprehenderit quam ipsum rem? Cumque fugit modi labore, eum est consequuntur ullam corporis harum doloremque, voluptate officia officiis explicabo fugiat repellendus sed quod accusantium quam velit vel.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, suscipit nisi dicta corporis fuga, minus facilis, aliquid ad nobis illum quas id exercitationem adipisci voluptatem quibusdam earum. Nam, quaerat at.
                            Ducimus animi explicabo voluptate consectetur necessitatibus officia eum ratione totam, tempore laboriosam doloribus in soluta, eius maiores iste eligendi a! A quo eos fugit laudantium temporibus cupiditate earum, veritatis assumenda?
                            Fugiat minus veritatis non quae error, modi ratione. Optio quis illo amet enim saepe maiores, perferendis animi corporis non ex architecto alias harum magni ipsum neque necessitatibus modi pariatur ad.
                            Explicabo eveniet necessitatibus omnis nihil quidem saepe vel sapiente possimus voluptatibus rerum, reprehenderit distinctio exercitationem dignissimos voluptates, laborum corrupti nobis ullam ipsum, officia doloremque? Debitis odio delectus eius nesciunt ratione.
                            Voluptates commodi, in illo tempore ullam sequi sunt, rem labore ad consequuntur a quam nobis qui quaerat laboriosam repellat sit, assumenda quia! Eligendi omnis nemo labore doloribus dignissimos, eos fugit.
                        </p>
                    </div>
                    
                    <div class="bouton">
                        <a href="" class="btn btn-primary">Voir plus...</a>
                    </div>
                    
                </div>
            </article>
        </div>    
    {% endfor %}        

{% else %}
    <h2>Aucune offre trouvée</h2>
{% endif %}
        
{% endblock %}
